body{
/* 
  Padding-top, funcione para que o container-fluid não jogue tudo no topo maximo
  assim ele vai cair e para o usuario ver o conteudo, no caso o padding e o tamano do menu
*/
  padding-top: 75px;
}
/*Codigo feito para que quando o menu mobile descer, o conteudo desça junto 
tambem foi utilizado para que no modo mobile o menu não fique em cima do conteudo*/
@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}



.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}


#img-quote{
  background: url('../img/dog-flo.jpg') center center;
  background-size: cover;
}

/*Utilizando o responsivo para a frase que está dentro do blockquote, fara a imagem diminuir */
@media (max-width: 767px){
  #img-quote .display-4{
    font-size: 2.5rem;
  }
  
}

/*Vai selecionar o ultimo "LI" da lista*/
.lista-plano li + li{
    border-top: 1px solid rgba(0,0,0.2);
  
}

.lista-plano li{
  padding: 1rem;
  
}